<?xml version="1.0"?>
<model>
  <name>robot</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Fernando Estévez Casado</name>
   <email>fernando.estevez.casado@usc.es</email>
  </author>

  <description>
    This is a basic model inspired in the Khepera robot.
  </description>
</model>
